@model MyViewModel
<div class="col-8 ms-5 container-fluid">
    <!-- Ana Content Column -->
    @foreach (var item in Model.MachinesList)
    {
        <div class="card mt-5 ">

            <div class="card-header d-flex justify-content-center">
                @item.Name
            </div>
            <div class="card-body d-flex justify-content-center">
                @foreach (var item2 in Model.PLCQualityCriterionDatasList.OrderByDescending(x => x.Times).Take(1).ToList())
                {
                    TimeSpan date = item2.Times.TimeOfDay;
                    TimeSpan total = DateTime.Now.TimeOfDay.Subtract(date);
                    if (total.Minutes > 1)
                    {
                        <p>Machines Sitation: <button class="btn btn-danger"> Doesn't Working </button></p>

                    }
                    else
                    {
                        <p>Machines Sitation:<button class="btn btn-success"> Working </button></p>
                    }

                }

            </div>
        </div>
    }


    <div class="card mt-5 container-fluid ">
        <div class="card-header h2">Sıcaklık Tablosu </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <h1> @Model.PLCQualityCriterionDatasList.Select(x=>x.DataValue).Last()</h1>
                </div>
                <div class="col-8">
                    <div class="card mb-3" style="max-width: 1500px;">
                        <svg width="500" height="300">
                            <path d="M50 250 L100 200 L150 180 L200 150 L250 100 L300 80 L350 50 L400 25" stroke="#8b0000" stroke-width="3" fill="none" />
                            <text x="50" y="270">January</text>
                            <text x="400" y="20">December</text>
                        </svg>

                    </div>
                </div>
                <div class="container">
                    <h2>Tablo Başlığı</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Tarih</th>
                                <th>Değer</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.PLCQualityCriterionDatasList.OrderByDescending(x => x.Times).Take(5))
                            {
                                <tr>
                                    <td>@Model.PLCQualityCriterionDatasList.IndexOf(item)</td>
                                    <td>@item.Times</td>
                                    <td>@item.DataValue</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-action="MachineCard" asp-controller="Home">Go to view</a>
        </div>
    </div>
